


"prompt_embedding, prompt_embedding_mask":
  type: meica.encode_prompt
  args:
    text_encoder: ${pipeline}
    prompt: ${batch[0]}

pixel_latents:
  type: meica.encode_latent
  args:
    vae: ${vae}
    pixel_values:
      - ${batch[1]}
      - ${batch[2]}

noisy_latents:
  type: meica.diffusionkit.add_noise
  args:
    latents: ${pixel_latents}
    noise_scheduler: ${noise_scheduler}